	{{{header}}}

	<div id="main-container">
		<!--pls ignore the crazy style for this tag, gradients are dumb-->
		<div id="game-title" class="cover" style="background-image: url('{{banner}}');
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.85) 100%), url('{{banner}}') no-repeat center center;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(40%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))), url('{{banner}}') no-repeat center center;
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%), url('{{banner}}') no-repeat center center;
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%), url('{{banner}}') no-repeat center center;
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%), url('{{banner}}') no-repeat center center;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%), url('{{banner}}') no-repeat center center; 
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;">
			<div class="z0 animate container">
				<table id="game-title-container">
					<td class="game-main-thumbnail">
						<img class="game-image img-responsive {{toLowerCase verdict}}" src="{{image}}"/>
					</td>
					<td id="game-title-text" valign="bottom">
						<h1>{{title}}</h1>
					</td>
				</table>
			</div>
		</div>

		<div id="game-content" class="z1 animate container">
			<div class="max-width-container">
				<h2 class="fluid-container">About</h2>
				<hr>
				<div id="game-info" class="container max-width-container">
					<div class="game-info-text">
						<strong>Developer:</strong> {{developer}}
					</div>
					<div class="game-info-text">
						<strong>Publisher:</strong> {{publisher}}
					</div>
					<div class="game-info-text">
						<strong>Release Date:</strong> {{releaseDate}}
					</div>
				</div>
				<div id="game-description" class="container max-width-container">
					{{{description}}}
				</div>
				<h3 id="game-verdict" class="text-center-horiz fluid-container">
					Verdict: <strong class="game-{{toLowerCase verdict}}-review">{{verdict}}</strong>
				</h3>
				<div id="game-verdict-stats" class="text-center-horiz">
					{{percentageGood}}% of players liked this game
				</div>
				<a href="/new-review" class="center-horiz display-table">
					<button id="create-review-btn" class="btn btn-lg btn-info center-horiz">Create a Review</button>
				</a>
				<hr>
				<div id="game-reviews">
					<h2 class="fluid-container">Reviews</h2>
					<div id="game-reviews" class="max-width-container">
						{{#each reviews}}
							<div class="game-review fluid-container">
								<a href="/users/{{this.user.username}}">
									<img class="game-user-profile-img" src="/images/user-profile.png">
								</a>
								<h4>
									<a class="game-review-link" href="/reviews/{{this.id}}">
										{{{this.title}}}
									</a>
									 | 
									<strong class="game-{{toLowerCase this.rating}}-review">
										{{this.rating}}
									</strong>
								</h4>
								{{{this.summary}}}
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		{{{footer}}}
	</div>
</body>
</html>
