	{{{header}}}

	<div id="main-container">
		<div id="featured-slider" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#featured-slider" data-slide-to="0" class="active"></li>
		    <li data-target="#featured-slider" data-slide-to="1"></li>
		    <li data-target="#featured-slider" data-slide-to="2"></li>
		    <li data-target="#featured-slider" data-slide-to="3"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div id="featured-slider-inner" class="carousel-inner" role="listbox">
		  	{{#each index.featured-slider}}
			    <div class="item {{active}}">
			    	<a id={{this.id}} href={{this.href}}>
			    		<img class="featured-pane cover" src={{this.src}} alt="Game Image">
			    	</a>
			    </div>
		    {{/each}}
		  </div>

		  <a class="left carousel-control" href="#featured-slider" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#featured-slider" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>

		<div id="create-review" class="jumbotron">
			<div class="container-fluid">
				<div class="row">
					<h3 class="text-center-horiz">Played any games recently?<br><br>Share your opinions with the community!</h3>
				    <a id="create-review-btn" class="btn btn-lg btn-success center-horiz" href="/new-review">
						Create a Review
					</a>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<h3 class="featured-header">
				<a href="/featured-games">Featured Games</a>
			</h3>
		</div>
		
		<div id="top-games"> 
		    <div class="top-games-row row">
		    	<ul class="container-fluid">
		    		{{#each index.top-games}}
			    		<a href={{this.href}}>
				    		<li id={{this.id}} class="col-md-2 featured-game cover">
				    			
					    	</li>
				    	</a>
			    	{{/each}}
		    	</ul>
		    </div>
		  </div>
		</div>

		<div class="container-fluid">
			<h3 class="featured-header">
				<a href="/featured-reviewers">Featured Reviewers</a>
			</h3>
		</div>
		
		<div id="top-critics">
			<div class="top-critics-row row">
				<ul class="container-fluid">
					{{#each index.top-critics}}
						<li class="col-md-0 critic">
							<div class="reviewer-img-container cover">
								<div class="reviewer-name-container">
									<a href={{this.href}}>{{this.name}}</a>
								</div>
							</div>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>

	<div id="footer">
		{{{footer}}}
	</div>
</body>
</html>
