	{{{header}}}

	<div id="main-container">
		<div id="review-banner" class="cover" style="background-image: url('{{banner}}');
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.85) 100%), url('{{banner}}') no-repeat center center;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(40%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))), url('{{banner}}') no-repeat center center;
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%), url('{{banner}}') no-repeat center center;
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%), url('{{banner}}') no-repeat center center;
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%), url('{{banner}}') no-repeat center center;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%), url('{{banner}}') no-repeat center center; 
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;">
			<div class="fluid-container max-width-container">
				<input id="title-input" class="z2 form-control max-width-container" name="title" type="text" placeholder="Your Review Title">
			</div>
		</div>
		<div id="new-review-form" class="fluid-container max-width-container">
			<div id="review-container" class="z2">
			  <div class="quill-wrapper" data-toggle="tooltip" data-placement="left" title="Write your review here">
			    <div id="toolbar" class="toolbar">
			      <span class="ql-format-group">
					  <select title="Font" class="ql-font">
					    <option value="sans-serif" selected>Sans Serif</option>
					    <option value="serif">Serif</option>
					    <option value="monospace">Monospace</option>
					  </select>
					  <select title="Font Size" class="ql-size">
					    <option value="14px">Small</option>
					    <option value="16px" selected>Normal</option>
					    <option value="20px">Large</option>
					    <option value="26px">Huge</option>
					  </select>
					</span>
					<span class="ql-format-group">
					  <span title="Bold" class="ql-format-button ql-bold"></span>
					  <span class="ql-format-separator"></span>
					  <span title="Italic" class="ql-format-button ql-italic"></span>
					  <span class="ql-format-separator"></span>
					  <span title="Underline" class="ql-format-button ql-underline"></span>
					  <span class="ql-format-separator"></span>
					  <span title="Strikethrough" class="ql-format-button ql-strike"></span>
					</span>
					<span class="ql-format-group">
					  <select title="Text Color" class="ql-color">
					    <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)" selected></option>
					    <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
					    <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
					    <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
					    <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
					    <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
					    <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
					    <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
					    <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
					    <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
					    <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
					    <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
					    <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
					    <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
					    <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
					    <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
					    <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
					    <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
					    <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
					    <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
					    <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
					    <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
					    <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
					    <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
					    <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
					    <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
					    <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
					    <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
					    <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
					    <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
					    <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
					    <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
					    <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
					    <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
					    <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
					  </select>
					</span>
					<span class="ql-format-group">
					  <span title="List" class="ql-format-button ql-list"></span>
					  <span class="ql-format-separator"></span>
					  <span title="Bullet" class="ql-format-button ql-bullet"></span>
					  <span class="ql-format-separator"></span>
					  <select title="Text Alignment" class="ql-align">
					    <option value="left" label="Left" selected></option>
					    <option value="center" label="Center"></option>
					    <option value="right" label="Right"></option>
					    <option value="justify" label="Justify"></option>
					  </select>
					</span>
			      <span class="ql-format-group">
			        <span title="Link" class="ql-format-button ql-link"></span>
			        <span class="ql-format-separator"></span>
			        <span title="Image" class="ql-format-button ql-image"></span>
			      </span>
			    </div>
			    <div id="editor" class="editor">
			      <div><span style="font-size: 18px;">Write your review here!</span></div>
			    </div>
			  </div>
			</div>

			<div id="summary" class="z1 form-group">
				<div id="the-good" class="summary-section">
					<div id="good-title">The Good</div>
					<ul>
						<li>
							<input type="text">
						</li>
					</ul>
				</div>
				<div id="the-okay" class="summary-section">
					<div id="okay-title">The Okay</div>
					<ul>
						<li>
							<input type="text">
						</li>
					</ul>
				</div>
				<div id="the-bad" class="summary-section">
					<div id="bad-title">The Bad</div>
					<ul>
						<li>
							<input type="text">
						</li>
					</ul>
				</div>
			</div>
			<div id="verdict-container" class="text-center-horiz">
				<h1 id="new-review-verdict">Verdict</h1>
				<div class="form-group">
					<div class="btn-group" data-toggle="buttons">
						<label id="good-option" class="z2 rating-button btn btn-primary">
							<input type="radio" name="rating" value="Good"> Good
						</label>
						<label id="okay-option" class="z2 rating-button btn btn-primary">
							<input type="radio" name="rating" value="Okay"> Okay
						</label>
						<label id="bad-option" class="z2 rating-button btn btn-primary">
							<input type="radio" name="rating" value="Bad"> Bad
						</label>
					</div>
				</div>
				<button id="publish-button" class="z1 btn btn-lg btn-info">Publish</button>
			</div>
		</div>
	</div>

	<div id="footer">
		{{{footer}}}
	</div>
</body>
</html>