	{{{header}}}

	<div id="main-container">
		<div class="container max-width-container">
			<h2>{{title}}</h2>
			<br>
			<p>{{{reviewBody}}}</p>
			<br>
			<h4>TL;DR</h4>
			<p>{{tldr}}</p>
			<h3 class="text-center-horiz">Verdict: <strong class="game-{{toLowerCase rating}}-review">{{rating}}</strong></h3>
		</div>
	</div>

	<div id="footer">
		{{{footer}}}
	</div>
</body>
</html>