	{{{header}}}

	<div id="main-container">
		<div class="container max-width-container">
			<h2>{{gamepage.games.0.reviews.0.title}}</h2>
			<br>
			<p>{{{gamepage.games.0.reviews.0.review}}}</p>
			<br>
			<h4>TL;DR</h4>
			<p>{{gamepage.games.0.reviews.0.tldr}}</p>
			<h3 class="text-center-horiz">Verdict: <strong class="game-{{toLowerCase gamepage.games.0.reviews.0.rating}}-review">{{gamepage.games.0.reviews.0.rating}}</strong></h3>
		</div>
	</div>

	<div id="footer">
		{{{footer}}}
	</div>
</body>
</html>