    {{{header}}}

    <div id="main-container">
        <div class="min-height-container max-width-container">
            <div id="profile-top-container">
                <img id="user-profile-image" class="profile-title" src="{{myUserPic}}">
                <h2 class="profile-title">{{myUsername}}</h2>
            </div>
            

            <br><br>

            <h3>Reviews by this User</h3>
            <div style="border-bottom: 2px solid #B6B6B6;"></div>
            {{#each reviews}}
            <div class="game-review fluid-container">
                <h4>
                    <a class="game-review-link" href="/reviews/{{this.id}}">
                        {{{this.title}}}
                    </a>
                     
                    <strong class="game-{{toLowerCase this.rating}}-review">
                        {{this.rating}}
                    </strong>
                </h4>
                {{{this.summary}}}
            </div>
            {{/each}}
        </div>
    </div>

    <div id="footer">
        {{{footer}}}
    </div>
</body>
</html>