<div id="modal-overlay" class="z4 animate"></div>
<div id="modal-window" class="z5 animate">
	<form>
		<div >
			<input id="game-search" type="text" name="game-search" placeholder="Search for a game">
			<div id="modal-close">X</div>
		</div>
	</form>
	<div id="modal-game-list">
		<ul>
			{{#each gameTitles}}
			<li>
				{{this.title}}
			</li>
			{{/each}}
			{{#each gameTitles}}
			<li>
				{{this.title}}
			</li>
			{{/each}}
			{{#each gameTitles}}
			<li>
				{{this.title}}
			</li>
			{{/each}}
			{{#each gameTitles}}
			<li>
				{{this.title}}
			</li>
			{{/each}}
			{{#each gameTitles}}
			<li>
				{{this.title}}
			</li>
			{{/each}}
		</ul>
	</div>
</div>